<h1>Find and Replace</h1>
<form action="/find_and_replace">
  <div class="form-group">
     <label for="phrase">Enter in a phrase:</label>
     <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="to_replace">Enter in a word you want to replace:</label>
     <input id="to_replace" name="to_replace" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="word">Enter the word you want to replace it with:</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Replace</button>
</form>
